Django==1.11
Markdown
Pillow
django-auth-ldap
django-database-files
django-otp==0.7.3
django-tastypie=0.14.2
django-two-factor-auth==1.9.1
django-user-sessions
mimeparse
pyasn1
pycrypto
python-dateutil
python-ldap
python-mimeparse
six
urldecode
wsgiref
keepassdb
db_backup
boto
lxml
celery
django-celery
paramiko
